# --- Ignorar dependencias y builds ---
node_modules/
dist/
build/

# --- Entornos y configuraciones ---
.env
.env.*
*.db
*.db-journal

# --- Logs y cache ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Compilaciones ---
*.tsbuildinfo

# --- Editor y sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Frontend ---
frontend/node_modules/
frontend/build/

# --- Backend ---
backend/node_modules/
backend/dist/
backend/dev.db

